@model Client.Models.Order.OrderMealViewModel
@using Client.Models.Order;
@using Client.Extentsions.Meal;

@{
    Layout = null;
    var start = 1; /*MealMethods.Week(DateTime.Parse(TempData["start"].ToString()));*/
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Luc Joosten">
    <title>Easy Meal - Order step</title>
    <link rel="icon" href="~/img/website_icon.jpg">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/css/order/ordermeal.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Navigation -->
    @await Html.PartialAsync("_NavbarPartial")

    <section id="order" class="text-black-50 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <label><h1 class="text-black-50">Order meals for week @start</h1></label>
                    <br />
                    <hr />
                    <div id="detailForm" class="row" style="height: 400px; overflow-y: auto;">
                        <form asp-action="Order" method="post">
                            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                            @for (var i = 0; i < ViewBag.Dictionary.Count; i++)
                            {
                                var day = ViewBag.Dictionary[i];
                                <div class="col-md-4 mt-2">
                                    <label class="control-label">@Enum.Parse(typeof(DayOfWeek), "" + i)</label>
                                    <select asp-for="DayMeals[i].Value" class="form-control">
                                        @foreach (var meal in day)
                                        {
                                            var matchingDishes = new List<Domain.Dish>();
                                            foreach (var mealDish in ViewBag.MealDishes)
                                            {
                                                if (mealDish.MealId == meal.Id)
                                                {
                                                    var dish = ((List<Domain.Dish>)ViewBag.Dishes).Find(d => d.Id == mealDish.DishId);
                                                    matchingDishes.Add(dish);
                                                }
                                            }
                                            var smallMeal = new Dictionary<int, int>();
                                            smallMeal.Add(meal.Id, 0);
                                            var mediumMeal = new Dictionary<int, int>();
                                            mediumMeal.Add(meal.Id, 1);
                                            var largeMeal = new Dictionary<int, int>();
                                            largeMeal.Add(meal.Id, 2);

                                            <option value="@smallMeal">
                                                @String.Join(", ", matchingDishes) - Small
                                            </option>
                                            <option value="@mediumMeal">
                                                @String.Join(", ", matchingDishes) - Medium
                                            </option>
                                            <option value="@largeMeal">
                                                @String.Join(", ", matchingDishes) - Large
                                            </option>
                                        }
                                    </select>
                                </div>
                            }
                            <div class="row m-2 mt-3">
                                <div class="col-md">
                                    <button class="btn btn-sm btn-success" type="submit">Save Menu</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @await Html.PartialAsync("_FooterPartial")

</body>
</html>
