@model Models.Cart.CartViewModel;
@using Domain.Extensions;
@using Domain.Dishsize;
@using Domain;

@{
    Layout = null;
    var totalPrice = 0.0;
    var matchingDishes = new List<Domain.Dish>();
    var cartitems = Model.Cart.Lines;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Luc Joosten">
    <title>Easy Meal - Cart Summary</title>
    <link rel="icon" href="~/img/website_icon.jpg">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/order/cartSummary.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Navigation -->
    @await Html.PartialAsync("_NavbarPartial")

    <section id="order">
        <div class="container ">
            <div class="row">
                <div id="detailForm" class="col-sm-8 offset-sm-2 p-sm-5 bg-white rounded shadow mb-5">
                    <h2><span>Cart summary</span></h2>
                    <span>@cartitems.Count() meal(s)</span>
                    <div class="mt-4">
                        @for (int i = 0; i < cartitems.Count(); i++)
                        {
                            <form asp-action="RemoveFromCart" method="post">
                                <input type="hidden" name="mealId"
                                       value="@cartitems[i].Meal.Id" />
                                <button type="submit" class="btn btn-sm">
                                    <i style="color: red" class="fas fa-trash"></i>
                                </button>
                            </form>
                            <span><b>@cartitems[i].Meal.DateValid.ToString("ddd d MMM yyyy")</b></span>
                            <div class="p-2">
                                @foreach (var mealDish in cartitems[i].Meal.Dishes)
                                {
                                    if (mealDish.MealId == cartitems[i].Meal.Id)
                                    {
                                        var dish = ((List<Domain.Dish>)ViewBag.Dishes).Find(d => d.Id == mealDish.DishId);
                                        totalPrice = totalPrice + DishMethods.GetDishPrice(dish);
                                        <div class="col mb-3">
                                            <div style="border-bottom: 1px solid">
                                                <label style="width: 100%">
                                                    @dish.Name <br />
                                                    <b><i>@dish.Type</i></b>

                                                    @if (dish.Type != Domain.DishType.Main)
                                                    {
                                                        <span style="display: inline; float: right; padding-left: 15px">
                                                            <button class="btn btn-sm">

                                                                <form asp-action="RemoveDish" method="post">
                                                                    <input type="hidden" name="mealId"
                                                                           value="@cartitems[i].Meal.Id" />
                                                                    <input type="hidden" name="dishId"
                                                                           value="@dish.Id" />
                                                                    <button type="submit" class="btn btn-sm">
                                                                        <i style="color: red" class="fas fa-trash"></i>
                                                                    </button>
                                                                </form>
                                                        </span>
                                                        <span style="display: inline; float: right">€ @DishMethods.GetDishPrice(dish)</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="display: inline; float: right; margin-right: 45px;">
                                                            € @DishMethods.GetDishPrice(dish)
                                                        </span>
                                                    }
                                                    <span style="display:inline; padding-left:0px;">

                                                        <select asp-for="@dish.Size" style="display: inline; float: right; margin-right:10px;" class="form-control-sm">
                                                            <option value="@DishSize.Small">Small (-20%)</option>
                                                            <option selected value="@DishSize.Medium" tabindex="0">Medium (+- 0%)</option>
                                                            <option value="@DishSize.Large">Large (+ 20%)</option>
                                                        </select>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                    <hr />
                    <div class="col">
                        <div class="p-2">
                            <label style="width: 100%">
                                <!-- Get toal order price not including discounts -->
                                Total: <span style="display: inline; float: right">€ @totalPrice</span>
                            </label>
                            <div class="mt-3">
                                <label style="width: 100%">
                                    <!-- Get total order price including discounts -->
                                    <b>Sub-total:<span style="display: inline; float: right">€ @totalPrice</span></b>
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="col text-right mt-2">
                        <a asp-action="Checkout" asp-controller="Order"><button class="btn btn-sm btn-success">Procceed checkout</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @await Html.PartialAsync("_FooterPartial")
</body>
</html>
