@model IEnumerable<Domain.Meal>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Luc Joosten">
    <title>Easy Meal - Meals</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/css/landing.css" rel="stylesheet">
    <link href="~/css/meal/indexPage.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation -->
    @await Html.PartialAsync("_NavbarPartial")
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Meals" asp-action="Index">Meals</a></li>
                        <li class="breadcrumb-item">Index</li>

                    </ol>
                </div>
            </div>
        </div>
    </header>

    <!-- Meal List-->
    <div class="container">
        <div class="row offset-md-2">
            <div class="col-md-11 content">
                <a asp-controller="Meals" asp-action="Create"><button class="btn btn-outline-warning text-center">+ New Meal</button></a>
                <div class="row mt-4 mb-5">
                    @foreach (var item in Model)
                    {                    
                    <div class="card text-white border-warning bg-transparent p-1 text-center col-md-5 m-2">
                        
                        <div class="card-body">
                            @if (item.Dishes.Count < 3)
                            {
                                <p id="notification" class="badge badge-warning card-text text-right"><i class="fas fa-exclamation-triangle" style="margin-right:5px;"></i>@item.Dishes.Count/3 dishes</p>
                            }
                           
                            <p class="card-title" style="font-size: 20px;"><i>@item.DateValid.ToString("d MMM yyyy")</i></p>
                        </div>
                        <div class="middle">
                            <div id="buttons">
                                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-sm btn-outline-primary"><i class="fas fa-info-circle"></i></button></a>
                                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-sm btn-outline-warning"><i class="fas fa-edit"></i></button></a>
                                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt  "></i></button></a>
                            </div>
                        </div>
                    </div>
                        @*
                    <ul class="text-white-50 mt-2" style="font-size: 12px;">
                        @foreach (var mealDish in ViewBag.MealDishes)
                        {
                            @if (mealDish.MealId == item.Id)
                            {
                                @foreach (var dish in ViewBag.Dishes)
                                {
                                    @if (dish.Id == mealDish.DishId)
                                    {
                                        <li style="list-style: none;">- @dish.Name</li>
                                    }
                                }
                            }
                        }
                    </ul>
                    *@
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    @await Html.PartialAsync("_FooterPartial")
</body>
</html>
